.counter {
	display: inline-block;
	margin: 20px 0;
	padding: 2px;
	height: 128px;
	border-radius: 4px;
	background: #fff;
}

/* Display */
	.display {
		display: inline-block;
		position: relative;
		width: 300px;
		overflow-x: hidden;
		vertical-align: top;
	}
	.display .name {
		font-size: 20px;
		font-family: "Rounded Mplus 1c";
	}
	#number {
		position: relative;
		z-index: 0;
		padding: 12px 1px 0px 1px;
		font-family: 'Quicksand', sans-serif;
		font-size: 64px;
	}
	.display .name,  #number {
		display: block;
		outline: none;
		width: 100%;
		text-align: center;
	}
	/* Markings */
		.markings {
			position: absolute;
			z-index: 1;
			left: 50%;
			transform: translateX(-50%);
			font-family: "メイリオ", meiryo;
			color: #CFD8DC;
			opacity: 0.2;
			transition: opacity 0.3s ease-in-out;
		}
		.markings:hover { opacity: 1; }
		.markings span {
			cursor: pointer;
			margin: 0 5px;
		}
		.m_0 { color: rgba(207, 216, 220, 1); }
		.m_1 { color: rgba(0, 176, 255, 1); }
		.m_2 { color: rgba(236, 64, 122, 1); }
	/* Pokérus */
		.pokerus {
			cursor: pointer;
			position: absolute;
			z-index: 1;
			bottom: 0;
			color: rgba(253, 105, 222, 1);
			padding: 0 0 0 5px;
			opacity: 1;
			transition:
				right 0.3s ease;
		}
		.pokerus:hover { right: 2px; }
		.pkrs_jpn { right: -85px; }
		.pkrs_eng { right: -80px; }
		.pokerus input {
			cursor: pointer;
			transform: translateY(-2px);
		}
		.pkrs_pink { background: rgba(253, 105, 222, 1); }
	/* Active */
		.active-icon {
			cursor: pointer;
			position: absolute;
			bottom: 5px;
			left: 0;
			animation: ai-anim 0.3s ease;
		} @keyframes ai-anim {
			from { left: -20px }
			to { left: 0 }
		}
		.ai-hide { display: none; }
	/* Encounter */
		#encounter {
			position: absolute;
			bottom: 20px;
			right: 0;
			opacity: 0.3;
		}

/* Buttons */
	.buttons {
		display: inline-block;
		text-align: center;
	}
	.buttons td {
		cursor: pointer;
		width: 100px;
		font-family: 'Quicksand', sans-serif;
		font-size: 30px;
		color: #fff;
		border-radius: 2px;
		/*transition: box-shadow 0.2s ease-in-out;*/
	}
	.buttons td:hover {
		opacity: 0.8;
		/*box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);*/
	}
	.reset, .undoBtn { background: #000; }
	.plus:before { content: '+'; }
	.minus:before { content: '-'; }
	.c-1 .plus.btn_color { background: rgba(233, 30, 99, 1); }
	.c-1 .minus.btn_color { background: rgba(33, 150, 243, 1); }
	.c-2 .plus.btn_color { background: rgba(255, 196, 0, 1); }
	.c-2 .minus.btn_color { background: rgba(0, 230, 118, 1); }

#undo { display: none; }

/* EV Calculator */
	.calcEV {
		display: inline-block;
		margin: 20px 10px;
		border-radius: 4px;
		background-color: #fff;
	}
	.calcEV span:not(.EVresults) {
		display: inline-block;
		color: #fff;
		padding: 0 10px;
		border-radius: 4px;
	}
	.EVresults {
		display: inline-block;
		margin: 10px;
	}
	#calcEV {
		margin: 0 -5px 0 0;
		padding: 0 10px;
		text-align: center;
		border-radius: 4px;
		color: #fff;
	}
	#calcEV.btn_color { background: rgba(233, 30, 99, 1); }
	#sos.btn_color { background: rgba(33, 150, 243, 1); }
		.sosJPN:after { content: '回'; }
		/*.sosENG:after { content: ' times'; }*/
	#remainder.btn_color { background: rgba(0, 230, 118, 1); }
		.remainderJPN:before { content: '残り '; }
		/*.remainderENG:after { content: ' remaining'; }*/


@media only screen and (max-width: 732px) {
	.counter {
		width: 90%;
		height: 396px;
	}
	.calcEV {
		margin: 5%;
	}
	.display { width: 99%; }
	.pkrs_jpn { right: -85px; }
	.buttons { width: 100%; }
	.buttons td { width: 1%; }
}
