#mode {
  cursor: pointer;
  display: table;
  margin: 0 auto;
}
.DM_txt_JPN:before { content: 'ダークモード'; }
.LM_txt_JPN:after { content: 'ライトモード'; }
.DM_txt_ENG:before { content: 'Dark Mode'; }
.LM_txt_ENG:after { content: 'Light Mode'; }

.white_txt { color: #fff; }
.darkest_bg { background: #263238; }
.darker_bg { background: #37474F; }
.dark_bg { background: #455A64; }
.light_bg { background: #607D8B; }

#result.white_border { border-color: #fff; }
