#mode {
  cursor: pointer;
  display: table;
  margin: 0 auto;
}
.DM_txt_JPN:before { content: 'ダークモード'; }
.LM_txt_JPN:after { content: 'ライトモード'; }
.DM_txt_ENG:before { content: 'Dark Mode'; }
.LM_txt_ENG:after { content: 'Light Mode'; }

.white_txt { color: #fff; }
.darkest_bg { background: rgba(38, 50, 56, 1); }
.darker_bg { background: rgba(55, 71, 79, 1); }
.dark_bg { background: rgba(69, 90, 100, 1); }
.light_bg { background: rgba(96, 125, 139, 1); }

#result.white_border { border-color: #fff; }
