/* Variables */
    :root {
        --normal: rgb(177, 177, 177);
        --fire: rgb(228, 101, 63);
        --water: rgb(80, 171, 218);
        --grass: rgb(154, 195, 14);
        --electric: rgb(232, 199, 26);
        --ice: rgb(83, 196, 229);
        --fighting: rgb(233, 154, 63);
        --poison: rgb(186, 121, 193);
        --ground: rgb(200, 168, 65);
        --flying: rgb(94, 159, 226);
        --psychic: rgb(232, 133, 178);
        --bug: rgb(108, 190, 80);
        --rock: rgb(176, 135, 84);
        --ghost: rgb(117, 110, 180);
        --dragon: rgb(108, 129, 200);
        --dark: rgb(90, 60, 30);
        --steel: rgb(145, 145, 145);
        --fairy: rgb(224, 108, 187);
    }

/* Pop-up Dex */
    #popupDex { position: fixed; }
    #closeDex {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: -7px;
        font-size: 30px;
    }
    .entryInfo { text-align: center; }
    #entryPPA { background-size: contain; }
    #entryNum {
        opacity: 0.3;
        font-family: 'Press Start 2P', monospace;
        font-size: 8px;
    }

/* Types */
    #entryType p {
        margin: 4px;
        padding: 2px;
        width: 74px;
        border-radius: 4px;
        text-align: center;
        color: #fff;
    }
    #entryType .normal { background: var(--normal); }
        .normalJPN::after { content: 'ノーマル'; }
        .normalENG::after { content: 'Normal'; }
    #entryType .fire { background: var(--fire); }
        .fireJPN::after { content: 'ほのお'; }
        .fireENG::after { content: 'Fire'; }
    #entryType .water { background: var(--water); }
        .waterJPN::after { content: 'みず'; }
        .waterENG::after { content: 'Water'; }
    #entryType .grass { background: var(--grass); }
        .grassJPN::after { content: 'くさ'; }
        .grassENG::after { content: 'Grass'; }
    #entryType .electric {
        background: var(--electric);
        color: #000;
        }
        .electricJPN::after { content: 'でんき'; }
        .electricENG::after { content: 'Electric'; }
    #entryType .ice { background: var(--ice); }
        .iceJPN::after { content: 'こおり'; }
        .iceENG::after { content: 'Ice'; }
    #entryType .fighting { background: var(--fighting); }
        .fightingJPN::after { content: 'かくとう'; }
        .fightingENG::after { content: 'Fighting'; }
    #entryType .poison { background: var(--poison); }
        .poisonJPN::after { content: 'どく'; }
        .poisonENG::after { content: 'Poison'; }
    #entryType .ground { background: var(--ground); }
        .groundJPN::after { content: 'じめん'; }
        .groundENG::after { content: 'Ground'; }
    #entryType .flying { background: var(--flying); }
        .flyingJPN::after { content: 'ひこう'; }
        .flyingENG::after { content: 'Flying'; }
    #entryType .psychic { background: var(--psychic); }
        .psychicJPN::after { content: 'エスパー'; }
        .psychicENG::after { content: 'Psychic'; }
    #entryType .bug { background: var(--bug); }
        .bugJPN::after { content: 'むし'; }
        .bugENG::after { content: 'Bug'; }
    #entryType .rock { background: var(--rock); }
        .rockJPN::after { content: 'いわ'; }
        .rockENG::after { content: 'Rock'; }
    #entryType .ghost { background: var(--ghost); }
        .ghostJPN::after { content: 'ゴースト'; }
        .ghostENG::after { content: 'Ghost'; }
    #entryType .dragon { background: var(--dragon); }
        .dragonJPN::after { content: 'ドラゴン'; }
        .dragonENG::after { content: 'Dragon'; }
    #entryType .dark { background: var(--dark); }
        .darkJPN::after { content: 'あく'; }
        .darkENG::after { content: 'Dark'; }
    #entryType .steel { background: var(--steel); }
        .steelJPN::after { content: 'はがね'; }
        .steelENG::after { content: 'Steel'; }
    #entryType .fairy { background: var(--fairy); }
        .fairyJPN::after { content: 'フェアリー'; }
        .fairyENG::after { content: 'Fairy'; }
