/* Preview */
	.wallpaper {
		position: relative;
		width: 90%;
		height: 300px;
		margin: 0 auto;
		overflow: scroll;
		text-align: left;
	}
	.wallpaper img {
		width: 40px;
		background: none;
	}
	.wallpaper img[src=''] { display: none; }

/* Canvas */
	.result {
		margin: 0 0 15px 0;
	}
	.result canvas {
		margin: 10px;
		max-width: 300px;
		max-height: 300px;
		vertical-align: middle;
	}
	#save { margin: 5px; }
	#result {
		display: none;
		border: 1px dashed #000;
		border-radius: 5px;
	}
	#canvasId {
		border-radius: 5px;
		transition: box-shadow 0.2s ease-in-out;
	}
	#canvasId:hover {
		box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3);
	}

/* Options */
	.settings {
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
	}
	.settings input[type="number"],
	.settings input[type="color"],
	.settings input[type="text"] {
		font-size: 16px;
		width: 60px;
		background: none;
		outline: none;
	}
	.dimensions { margin: 0 auto; }
	.dimensions td { text-align: right; }
	.dimensions input { text-align: right; }
	#bg_img,
	#randomize,
	#organize,
	#locate,
	#showAll,
	#save{
		cursor: pointer;
		display: inline-block;
		margin: 5px;
		padding: 2px 5px;
		border-radius: 5px;
		color: #fff;
		transition: box-shadow 0.2s ease-in-out;
	}
	#bg_img:hover,
	#randomize:hover,
	#organize:hover,
	#locate:hover,
	#showAll:hover,
	#save:hover { box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3); }
	#collection {
		background: none;
	}

.hideRest {
		cursor: pointer;
		display: inline-block;
		transition: opacity 0.3s ease-in-out;
	}
	/* Buttons */
		#bg_img.btn_color { background: #AA00FF; }
		#randomize.btn_color { background: #2196F3; }
		#organize.btn_color { background: #D50000; }
		#locate.btn_color {
			background: #FFD600;
			color: #000;}
		#showAll.btn_color { background: #00C853; }
		#save.btn_color {
			background: #CFD8DC;
			color: #000;}