/* Variables */
	:root {
		--ppar-blur: blur(20px);
	}

/* Loader */
	#loader {
		pointer-events: none;
		position: fixed;
		left: 0;	right: 0;
		top: 0;		bottom: 0;
		width: 100%;	height: 100vh;
		background-color: rgba(255, 255, 255, 0.5);
		background-image: url(../images/loading.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 120px;
	}

/* Preview */
	.wallpaper {
		position: relative;
		width: 90%;
		height: 300px;
		margin: 0 auto;
		overflow: scroll;
		text-align: left;
	}
	.wallpaper img {
		width: 40px;
		background: none;
	}
	.wallpaper img[src=''] { display: none; }
	#FS_BG {
		cursor: pointer;
		position: fixed;
		left: 0;	right: 0;
		top: 0;		bottom: 0;
		background: rgba(0, 0, 0, 0.8);
	}
	#FS_exit {
		cursor: pointer;
		position: absolute;
		right: 0;	top: 0;
		padding: 0px 16px 6px 16px;
		color: #fff;
		font-size: 25px;
	}
	#previewId {
		pointer-events: none;
		position: absolute;
		left: 50%;	top: 50%;
		transform: translate(-50%, -50%);
		max-height: 100vh;
	}

/* Canvas */
	.result { margin: 0 0 15px 0; }
	.result canvas {
		margin: 10px;
		max-width: 300px;	max-height: 300px;
		vertical-align: middle;
	}
	#save { margin: 5px; }
	#result {
		display: none;
		border: 1px dashed #000;
		border-radius: 5px;
	}
	#canvasId {
		border-radius: 5px;
		transition: box-shadow 0.2s ease-in-out;
	}
	#canvasId:hover {
		box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3);
	}

/* Options */
	.settings {
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
	}
	.settings input[type="number"],
	.settings input[type="color"],
	.settings input[type="text"] {
		font-size: 16px;
		width: 60px;
		background: none;
		outline: none;
	}
	.dimensions { margin: 0 auto; }
	.dimensions td { text-align: right; }
	.dimensions input { text-align: right; }
	#bg_img,
	#randomize,
	#organize,
	#locate,
	#showAll,
	#save{
		cursor: pointer;
		display: inline-block;
		margin: 5px;
		padding: 2px 5px;
		border-radius: 5px;
		color: #fff;
		transition: box-shadow 0.2s ease-in-out;
	}
	#bg_img:hover,
	#randomize:hover,
	#organize:hover,
	#locate:hover,
	#showAll:hover,
	#save:hover { box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3); }
	#collection {
		background: none;
	}

	.hideRest {
		cursor: pointer;
		display: inline-block;
		transition: opacity 0.3s ease-in-out;
	}
	/* Buttons */
		#bg_img { background: #AA00FF; }
		#randomize { background: #2196F3; }
		#organize { background: #D50000; }
		#locate {
			background: #FFD600;
			color: #000;}
		#showAll { background: #00C853; }
		#save {
			background: #CFD8DC;
			color: #000;}

@supports
    (-webkit-backdrop-filter: var(--ppar-blur)) or
    (-moz-backdrop-filter: var(--ppar-blur)) or
    (backdrop-filter: var(--ppar-blur)) {
    #FS_BG {
        -webkit-backdrop-filter: var(--ppar-blur);
        -moz-backdrop-filter: var(--ppar-blur);
        backdrop-filter: var(--ppar-blur);
        background: rgba(0, 0, 0, 0);
		/* box-shadow: none; */
    }
}
